---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1 id="windmi_index">{{ site.subtitle }}</h1>
        <div id="jumbotron-meta-info">
            {% if site.search %}
            <span class="meta-info">
                <span class="octicon octicon-search"></span>
                <a href="{{ site.search_url }}" target="_blank">{{ site.search }}</a>
            </span> {% endif %}
            {% if site.oldBlog %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-book"></span>
                <a href="{{ site.oldBlog_url }}" target="_blank">{{ site.oldBlog }}</a>
            </span> {% endif %}
        </div>
    </div>
</section>
<div id="indexMarquee">

</div>

<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">

            <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                </li>
                {% endfor %}
            </ol>

            <!-- Pagination -->
            {% include pagination.html %}

            <!-- Comments -->
            {% include disqus-comments.html %}

        </div>

        <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>

    </div>

</section>

<script>
    
    $(document).ready(function(){
        var isTouch_indexHtml = ("ontouchstart" in window) ? true : false;
        if(!isTouch_indexHtml){
            // 添加marquee文字走马灯
            $("#indexMarquee").html('<marquee behavior="alternate" height="20px" onMouseOut="this.start()" onMouseOver="this.stop()">\
                <span style="font-size: 20px;color: #4183c4;" class="octicon octicon-octoface"></span>\
            </marquee>\
            <hr style="margin: 0;" >');
            // 添加风车
            $("#windmi_index").prepend('<span class="windmill2">\
                <span class="pillar"></span>\
                    <span class="axis">\
                    <span class="swing"></span>\
                    <span class="swing2"></span>\
                    <span class="swing3"></span>\
                </span>\
            </span>');
        }

    });
</script>
