<div class="about row">

    <div class="col-md-4" style="text-align: center;">
        <div class="col-md-6" style="padding: 0px;">
                <img src="https://st67x8.coding-pages.com/hebin/gtq1.jpg" style="max-width: 150px;width: 90%; padding: 15px; -moz-box-shadow:0px 0px 1px #333333; -webkit-box-shadow:0px 0px 1px #333333; box-shadow:0px 0px 1px #333333;" />
        </div>
        <div class="col-md-6" style="padding: 0px; color: #8f8f8f; text-align: center; font-size: 13px;">
            <h3 style="color: black; margin-top: 0px;">可恶的光头强</h3>
            职业：web开发<br/>
            开发经验：3年<br/>
            个人说明：此博客是为了记录学习中比较实用的知识点，正所谓好记性不如烂笔头，且行且回忆
        </div>
    
        
        <div class="col-md-12" style="padding: 0px; margin-top: 20px;">
            <img src="https://st67x8.coding-pages.com/hebin/my.png" width="150px" height="150px" />
            <p><a href="https://coding-pages-bucket-117874-255180-7375-408837-1303706202.cos-website.ap-hongkong.myqcloud.com/" style="color: #ccc;text-decoration: underline;">深入了解</a></p>
        </div>
    </div>

    <div class="col-md-8">
        <div style="padding-left: 30px;border-left: 1px solid #ccc;">
            <h2>About me</h2>

            <p>BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla</p>

            <h2>Contact</h2>

            <ul>
                <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
                <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            </ul>

            <h2>Skill Keywords</h2>

            {% if site.skill_software_keywords %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Software Engineer Keywords</h3>
                </div>
                <div class="panel-body">
                    {% for keyword in site.skill_software_keywords %}
                    <button class="btn btn-default" type="button">{{ keyword }}</button>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if site.skill_j2ee_keywords %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">J2EE Developer Keywords</h3>
                </div>
                <div class="panel-body">
                    {% for keyword in site.skill_j2ee_keywords %}
                    <button class="btn btn-default" type="button">{{ keyword }}</button>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if site.skill_mobile_app_keywords %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mobile Developer Keywords</h3>
                </div>
                <div class="panel-body">
                    {% for keyword in site.skill_mobile_app_keywords %}
                    <button class="btn btn-default" type="button">{{ keyword }}</button>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if site.skill_web_keywords %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Web Developer Keywords</h3>
                </div>
                <div class="panel-body">
                    {% for keyword in site.skill_web_keywords %}
                    <button class="btn btn-default" type="button">{{ keyword }}</button>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>

    </div>
</div>