<div id="container-open-source">
    <section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
        <div class="container">
            <div id="jumbotron-meta-info">
                <h1>电子竞技，菜是原罪</h1>
                <span class="meta-info">
                    共<span class="repo-count badge">{{ site.data.video.size }}</span>个视频
                </span>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="repo-list row">
            <!-- Check here for github metadata -->
            <!-- https://help.github.com/articles/repository-metadata-on-github-pages/ -->
            {% for item in site.data.video %}
            <div class="col-md-4 card text-center" onclick="toB('{{ site.url }}/assets/bilibili/index.html?url={{item.url}}')">
                <div class="thumbnail">
                    <div class="card-image" data-pattern-id="{{ item.title }}" style="background-image: url({{item.img}});background-repeat: no-repeat;background-size: cover;">
                        <div class="card-image-cell">
                            <h3 class="card-title">
                                <a href="javascript:void(0)">{{ item.title }}</a>
                            </h3>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="card-description">
                            <p class="card-text">{{ item.desc }}</p>
                        </div>
                        <div class="card-text">
                            <span data-toggle="tooltip" class="meta-info" title="stars">
                                <span class="octicon octicon-star"></span> 0
                            </span>
                            <span data-toggle="tooltip" class="meta-info" title="forks">
                                <span class="octicon octicon-git-branch"></span> 0
                            </span>
                            <span data-toggle="tooltip" class="meta-info" title="Last updated：{{ item.date }}">
                                <span class="octicon octicon-clock"></span>
                                <time datetime="{{ item.date }}" title="{{ item.date }}">{{ item.date }}</time>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</div>

<script>
    function toB(url){
        window.open(url);
    }

    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>